In [1]:
#4. Create a list of your favorite movies and print it. Then, append a new movie to the list and
#print the updated list.
movies=["Drawing closer", "true spirit"]
movies

['Drawing closer', 'true spirit']

In [3]:
movies. append("The pursuit of happiness")
movies

['Drawing closer', 'true spirit', 'The pursuit of happiness']

In [1]:
#5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
#the list and print the result.
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
num=list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
total_sum=sum(num)
total_sum

55

In [25]:
#6. Create a list of mixed data types including strings, integers, and floats and print it. Remove
#the first element from the list and print the modified list.
list=["hello",12,12.5]
list

['hello', 12, 12.5]

In [27]:
list.pop(0)
list

[12, 12.5]

In [29]:
#7. Create a tuple containing the names of the days of the week and print it. Access and print
#the name of the third day.
days=("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday")
days

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [33]:
thirddays=days[2]
thirddays

'Tuesday'

In [35]:
#8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the
#tuple and print the result.
colors=("blue","green","black","white")
colors

('blue', 'green', 'black', 'white')

In [43]:
checkColors='black'
ispresent=checkColors in colors
ispresent

True

In [17]:
#9. Create a dictionary representing the information of a book with the keys "title", "author", and
#"year" and print it. Update the year of the book and print the updated dictionary.
Books={"title": "Machine Learning", "author" : "Tom M. Mitchell" , "year" : 1997}
print("Original : " , Books)

Original :  {'title': 'Machine Learning', 'author': 'Tom M. Mitchell', 'year': 1997}

In [19]:
Books["year"] = 2024
print("Updated dictionary:",Books)

Updated dictionary: {'title': 'Machine Learning', 'author': 'Tom M. Mitchell', 'year': 2024}

In [21]:

# 10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.
Fruits={"cherry" : "red", "Banana": "Yellow", "Avocado": "Green"}
Fruits

{'cherry': 'red', 'Banana': 'Yellow', 'Avocado': 'Green'}

In [23]:
Fruits["Apple"]="red"
print("Updated : ", Fruits)

Updated :  {'cherry': 'red', 'Banana': 'Yellow', 'Avocado': 'Green', 'Apple': 'red'}

In [29]:
# 11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.
cities={"Kathmandu" :100000 , "mustang" :15000 , "pokhara" : 300000 , "Baglung" : 20000}
cities

{'Kathmandu': 100000, 'mustang': 15000, 'pokhara': 300000, 'Baglung': 20000}

In [33]:
cities.pop("mustang")
cities

{'Kathmandu': 100000, 'pokhara': 300000, 'Baglung': 20000}